{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new proj</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
    <div class="container">
        <div class="item header">
                <img src="{% static 'img/IAS LOGO.png' %}" alt="">
        
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">SERVICES</a>
        </div>
        <div class="item main">
            <section class="left-panel">
                <h1>Welcome to IAS Petroleum Services!</h1>
                <p>We are a leading provider of comprehensive petroleum services in the industry.
                    Our mission is to deliver top-notch solutions <br>
                     that meet the evolving needs of our clients. <br><br>
                    At IAS Petroleum Services, we understand the importance of reliable and efficient operations in the petroleum industry. <br>
                    That's why we offer a wide range of services designed to help you achieve your goals and maximize your return on investment.</p>
                
                    <br>
                    <h2>Our Services:</h2>
                <p>
                    We offer a full suite of refinery services, including maintenance and repair,
                    upgrades, and new installations. <br>
                    Our team of experienced technicians has the knowledge and expertise
                    to ensure that your operations run smoothly and efficiently. <br>
                </p>
                <br>
            </section>
            <div class="part">
                <div class="first text1">
                    <img src="{% static 'img/images.jpeg' %}" alt="">
                <h3>Refinery Services</h3>
                    <p>
                        We offer a full suite of refinery services,<br>
                         including maintenance and repair, <br>
                        upgrades, and new installations. <br>
                        Our team of experienced technicians <br>
                         has the knowledge and expertise <br>
                        to ensure that your operations <br>
                         run smoothly and efficiently. <br>
                    </p>
                </div>
                <div class="first text2">
                    <img src="{% static 'img/download.jpeg' %}" alt="">
                    <h3>Pipeline Services</h3>
                    <p>
                        We offer a full range of pipeline services,<br>
                         including installation, maintenance, and repair. <br>
                        Our state-of-the-art equipment and experienced <br>
                         technicians ensure that your pipelines <br>
                          are functioning properly and safely.
                    </p>
                </div>
                <div class="first text3">
                    <img src="{% static 'img/tankfarm.jpeg' %}" alt="">
                    <h3>Tank Farm Services</h3>
                    <p>
                    Our tank farm services include maintenance, <br>
                     repair, and upgrades of storage tanks and terminals. <br>
                     We also offer new tank farm installations, <br>
                      so you can be sure that your operations are <br>
                       running at peak performance.
                    </p>
                </div>
                <div class="first text4">
                    <img src="{% static 'img/drill.jpeg' %}" alt="">
                    <h3>Drilling Services</h3>
                   <p>
                    We provide a wide range of drilling services, <br>
                    including drilling rig management, well completion,<br>
                     and production optimization. <br> 
                    Our team of experts will help you get the most <br>
                    out of your drilling operations <br>
                     and achieve your goals. <br>
                   </p>
                </div>
            </div>
        </div>
            <footer class="item foot" >
                <div class="social">
                    <a href="">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="logo-google"></ion-icon>
                    </a>
                </div>
                <div class="copyright">
                    <p>copyright </p>
                </div>
            </footer>
    
</body>
</html>